/* Global Colors */

:root {
    --branding-purple: #575195;
    --branding-purple-hover: #655fac;
    --branding-pink: #F9B5C3;
    --branding-light-pink: #F6DADF;
    --background-pink: #FEFBFC;

    --paragraph-font: "Roboto", serif;
    --heading-font: "Poppins", serif;

    --heading-semiBold: 600;
    --paragraph-regular: 400;
    --paragraph-medium: 500;
    --paragraph-light: 300;
    --paragraph-italic: italic;

    --footer-title-28: 1.8rem; 
    --font-size-40: 2.5rem;
    --font-size-24: 1.5rem;
    --font-size-18: 1.13rem;
    --font-size-20: 1.25rem;
    --font-size-30: 1.88rem;

    --button-top-space: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-pink);
    font-family: var(--paragraph-font);
}

/* Header & Navbar */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.menu {
    display: none;
}

.navbar {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: white;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    animation: slideDown 1.2s ease-out forwards;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

.navbar a {
    background: transparent;
}

.navbar.scrolled {
    background: #ffffff;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
}

.logo {
    width: 35%;
    height: auto;
    background: transparent;
}

.home {
    padding-top: 2px;
    background: transparent;
}

.nav-links {
    background: transparent;
    display: flex;
    list-style: none;
}

.nav-links li {
    background: transparent;
    margin-left: 2rem;
}

.nav-links li a {
    background: transparent;
    text-decoration: none;
    font-size: 1rem;
    color: var(--branding-purple);
    font-weight: var(--heading-semiBold);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.nav-links li a.active {
    background-color: var(--branding-purple);
    color: white;
    border-radius: 30px;
}

.nav-links li a:hover {
    color: var(--branding-purple);
    background-color: var(--branding-light-pink);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: row;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    animation: fadeIn 2s ease;
}

.name {
    background: transparent;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--branding-purple);
    margin-bottom: 1rem;
}

.highlight {
    color:black;
    background: transparent;
}

.content {
    background: transparent;
    text-align: center;
    z-index: 2;
    opacity: 0;
    animation: fadeInUp 2.5s ease forwards;
}

.samantha {
    width: 35%;
    height: auto;
    background: transparent;
    border-radius: 120px 20px 120px 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.about_banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding-left: 18%;
    padding-top: 5.7rem;
    gap: 4rem;
    z-index: 2;
    opacity: 0;
    animation: fadeInUp 2.5s ease forwards;
}

.about {
    background: transparent;
    text-align: justify;
    width: 63%;
    font-size: 1.1rem;
    text-align: left;
    padding-bottom: 1rem;
}

.name {
    text-align: left;
}

.buttons {
    background: transparent;
    display: flex;
    gap: 3rem;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    margin-top: 2rem;
}

.btn {
    text-decoration: none;
    color: white;
    width: 10.2rem;
    background: var(--branding-purple);
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(102, 91, 139, 0.3);
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--branding-light-pink);
    color: black;
}

/* Banner Side Elements */

.star_small {
    width: 10%;
    height: auto;
    position: absolute;
    background: transparent;
    z-index: 1;
    top: 200px;
    left: 82%;
    animation: rotate 10s linear infinite, fadeIn 2s ease-out forwards;;
}

.elements {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 1%;
    animation: fadeIn 2s ease forwards;
    background: transparent;
    z-index: 1;
}

.star:nth-child(2) {
    width: 70px;
    height: 70px;
    animation: rotate 6s linear infinite;
}

/* Curve Grow & Projects Heading Section */

.curve-section {
    position: relative;
}

.curve {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 170px;
    background: var(--background-pink);
    z-index: 1;
    opacity: 0;
    clip-path: ellipse(50% 100% at 50% 100%);
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.2s ease;
}


/* Skills */

.tools {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background: transparent;
    gap: 2rem;
    margin: 8rem 270px; 
}

.tools_boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 0.8rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 60%;
    position: relative;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.top {
    margin-top: 2rem;
}

.display h4 {
    font-size: var(--font-size-30);
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    text-align: left;
    align-self: flex-start;
    width: 40%;
}

.tools_boxes::before {
    content: "";
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #575195 30%, #F9B5C3 60%, #F6DADF 100%);
    position: absolute;
    left: -40px;
    top: 0;
}

.box {
    text-decoration: none;
    color: var(--branding-purple);
    width: auto;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    background: transparent;
    border: 3px solid var(--branding-purple);
    padding: 0.8rem 1.3rem;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);

    transition: background 0.3s ease;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.box:hover {
    background-color: var(--branding-light-pink);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}


/* Back to Top Star */

.floating-star {
    position: fixed;
    bottom: 1rem;
    right: 20px;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
    transform-origin: center;
    transition: transform 0.3s ease;
    background-color: transparent !important;
}
 
.floating-star img {
    background-color: transparent !important;
    transition: transform 0.3s ease;
}

.floating-star:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}
  
.rotating {
    animation: rotate 1s linear infinite;
}

.floating-star:hover,
.floating-star:active {
    background-color: transparent !important;
}

/* Footer */

footer * {
    background: transparent !important;
  }

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 240px;
    margin-right: 0;
    background-image: url('../images/footer2.png');
    object-fit: cover;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    overflow: hidden;
}
  
.footer-content {
    max-width: 60%;
}
  
.footer-content h2 {
    margin: 0;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    font-size: var(--footer-title-28);
    color: var(--branding-purple)
}
  
.footer-content p {
    font-size: 1rem;
    margin: 10px 0 20px;
    width: 36rem;
}

.footer-icons a {
    text-decoration: none;
}

.footer-icons img:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.footer-icons img {
    width: 6%;
    height: auto;
    margin-right: 1.2rem;
    margin-top: 1rem;
    transform: translateY(0);
    transition: transform 0.5s ease;
}
  
.footer-nav ul {
    list-style: none;
}

.glow-button {
    text-decoration: none;
    position: relative;
    width: 350px;
    right: -35px;
    text-align: left;
    font-weight: var(--heading-semiBold);
    border: none;
    color: var(--branding-purple);
    background-color: white !important;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    margin-bottom: 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 
        background-color 0.3s ease-in-out, 
        right 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.glow-button:hover {
    position: relative;
    width: 350px;
    right: -15px;
    font-weight: var(--heading-semiBold);
    border: none;
    color: var(--branding-purple);
    background-color: var(--branding-light-pink) !important;
    padding: 15px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.about-link {
    background-color: var(--branding-purple) !important;
    color: white !important;
}
.about-link:hover {
    background-color: var(--branding-purple-hover) !important;
    color: white !important;
    backdrop-filter: blur(10px);
}
  

/* Banner Animations */

@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        clip-path: inset(0 0 100% 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Responsive */

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Small Devices */
@media (max-width: 768px) {
    .navbar {
        display: none !important;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        background: transparent;
        position: relative;
        z-index: 101;
    }

    .dropdown-menu {
        background: transparent;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0 1rem;
        top: 0;
        height: 80px;
        width: 100%;
        text-align: center;
        z-index: 100;
        opacity: 0;
        animation: slideDown 1.2s ease-out forwards;
        transition: all 0.3s ease;
        transition: background-color 0.3s ease;
        background: transparent;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 1rem;
        opacity: 0;
        transform: translateY(-10px);
        clip-path: circle(0% at 100% 0%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .menu-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        padding-top: 6rem;
        width: 100%;
        align-items: center;
        text-align: center;
        clip-path: circle(150% at 100% 0%);
        animation: openCircle 0.5s forwards;
    }

    /* Animation */

    @keyframes openCircle {
        from {
            clip-path: circle(0% at 100% 0%);
        }
        to {
            clip-path: circle(150% at 100% 0%);
        }
    }
    
    .menu-links ul {
        background-color: white;
        align-items: center;
    }

    .menu-links li {
        font-size: var(--font-size-24);
        list-style: none;
        background-color: white;
        position: relative;
        margin: auto 0;
    }

    .menu-links li a:hover {
        color: white;
        background-color: var(--branding-purple);
        display: block;
    }

    .menu-links li a {
        text-decoration: none;
        color: var(--branding-purple);
        font-weight: var(--heading-semiBold);
        display: block;
        padding: 1rem 2rem;
        width: 100vw;
        box-sizing: border-box;
        align-items: center;
    }

    .menu a {
        background: transparent;
    }

    .menu-logo {
        width: 55%;
        height: auto;
        background: transparent;
    }

    .menu img {
        background: transparent;
    }

    .name {
        font-size: var(--footer-title-28);
    }

    .position {
        font-size: var(--font-size-18);
    }

    .banner {
        display: flex;
        padding-left: 12%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .btn {
        width: 10.5rem;
        font-size: 1rem;
    }

    .display {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-content {
        max-width: 50%;
    }

    .footer-content h2 {
        font-size: var(--font-size-24);
    }

    .footer-content p {
        width: 21rem;
    }

    .footer-icons img {
        width: 10%;
    }

    .glow-button {
        right: -100px;
    }

    .glow-button:hover {
        right: -80px;
    }
}

@media (min-width: 768px) {
    .meu-logo {
        display: none;
    }
}

/* Phone (bigger than 320px, smaller than 374px) */

@media (min-width: 320px) and (max-width: 425px) {
    .banner {
        display: flex;
        padding-left: 10%;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }

    
    .about_banner {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        gap: 2rem;
    }

    .samantha {
        width: 70%;
        height: auto;
        border-radius: 100px 15px 100px 15px;
    }

    .name {
        font-size: var(--font-size-24);
        align-items: center;
        text-align: center;
    }

    .about {
        font-size: 1rem;
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .btn {
        width: 8rem;
        font-size: 1rem;
        padding: 0.8rem 0.5rem;
    }

    .star_small {
        top: 20.5rem;
        left: 21.5rem;
    }

    .hamburger img {
        width: 35%;
        height: auto;
        margin-left: 11rem;
    }

    .box {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .tools_boxes {
        width: 100%;
        gap: 0.5rem;
    }

    .top {
        margin-top: 0rem;
    }

    .display h4 {
        width: 100%;
        text-align: left;
    }

    .tools {
        display: flex;
        margin: 8rem 50px; 
        align-items: center;
        justify-content: center;
    }

    .tools_boxes::before {
        left: -15px;
    }

    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-content h2 {
        font-size: 1rem;
        width: 400px;
    }

    .footer-content p {
        width: 15rem;
    }

    .footer-icons img {
        width: 10%;
    }

    .footer-nav {
        display: none !important;
    }

    .floating-star {
        display: none;
    }

    .footer-icons img {
        width: 25%;
        height: auto;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .banner {
        display: flex;
        padding-left: 5%;
    }

    .about_banner {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        gap: 2rem;
    }

    .samantha {
        width: 60%;
        height: auto;
        border-radius: 100px 15px 100px 15px;
    }

    .name {
        font-size: var(--font-size-24);
        align-items: center;
        text-align: center;
    }

    .about {
        font-size: 1rem;
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .btn {
        width: 8rem;
        font-size: 1rem;
        padding: 0.8rem 0.5rem;
    }

    .box {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .tools_boxes {
        width: 100%;
        gap: 0.5rem;
    }

    .top {
        margin-top: 0rem;
    }

    .display h4 {
        width: 100%;
        text-align: left;
    }

    .tools {
        display: flex;
        margin: 8rem 50px; 
        align-items: center;
        justify-content: center;
    }

    .tools_boxes::before {
        left: -15px;
    }

    .hamburger img {
        width: 35%;
        height: auto;
        margin-left: 12.5rem;
    }

    .star_small {
        top: 23rem;
        right: 3rem;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .display {
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 5rem;
    }

    .footer-content h2 {
        font-size: var(--font-size-18);
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .footer-nav {
        display: none !important;
    }

    .footer-content h2 {
        width: 400px;
    }

    .footer-icons img {
        width: 25%;
        height: auto;
    }
}

@media (min-width: 375px) and (max-width: 600px) {
    .footer-content h2 {
        font-size: var(--font-size-18) !important;
    }
}


/* Middle Devices */

@media (min-width: 769px) and (max-width: 1024px) {
    .banner {
        display: flex;
        padding-left: 5%;
        height: 80vh;
        margin-top: 0;
    }

    .star_small {
        top: 9rem;
    }

    .about_banner {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        justify-content: center;
        gap: 5rem;
    }

    .samantha {
        width: 40%;
        height: auto;
        border-radius: 100px 15px 100px 15px;
    }

    .name {
        font-size: var(--font-size-30);
    }

    .about {
        font-size: 1rem;
        width: 90%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .btn {
        width: 8rem;
        font-size: 1rem;
        padding: 0.8rem 0.5rem;
    }

    .box {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .tools_boxes {
        width: 100%;
        gap: 0.5rem;
    }

    .top {
        margin-top: 0rem;
    }

    .display h4 {
        width: 100%;
        text-align: left;
    }

    .tools {
        display: flex;
        margin: 8rem 50px; 
        align-items: center;
        justify-content: center;
    }

    .tools_boxes::before {
        left: -35px;
    }

    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .footer-content {
        max-width: 60%;
    }

    .footer-content h2 {
        font-size: var(--font-size-24);
    }

    .footer-content p {
        width: 21rem;
    }

    .footer-icons img {
        width: 10%;
    }

    .glow-button {
        right: -200px;
    }

    .glow-button:hover {
        right: -180px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .banner {
        display: flex;
        padding-left: 5%;
    }

    .about_banner {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        justify-content: center;
        gap: 5rem;
    }

    .samantha {
        width: 45%;
        height: auto;
        border-radius: 30px 5px 30px 5px;
    }

    .about {
        font-size: 1rem;
        width: 85%;
    }

    .star_small {
        right: 5rem;
    }
    
    /* 

    .about {
        font-size: 1rem;
        width: 90%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .btn {
        width: 8rem;
        font-size: 1rem;
        padding: 0.8rem 0.5rem;
    }

    .box {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .tools_boxes {
        width: 100%;
        gap: 0.5rem;
    }

    .top {
        margin-top: 0rem;
    }

    .display h4 {
        width: 100%;
        text-align: left;
    }

    .tools {
        display: flex;
        margin: 8rem 50px; 
        align-items: center;
        justify-content: center;
    }

    .tools_boxes::before {
        left: -35px;
    }
 */

    .footer {
        padding-left: 150px;
        padding-right: 150px;
    }

    .footer-content h2 {
        font-size: var(--footer-title-28);
    }

    .footer-content p {
        max-width: 100%;
        font-size: var(--font-size-20);
    }

    .footer-icons img {
        width: 8%;
    }

    .glow-button {
        right: -130px;
    }

    .glow-button:hover {
        right: -110px;
    }
}

@media (min-width: 1084px) and (max-width: 1441px) {
    .glow-button {
        right: -160px;
    }

    .glow-button:hover {
        right: -140px;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .footer {
        background-size: 110%
    }
}