/* Global Colors */

:root {
    --branding-purple: #575195;
    --branding-purple-hover: #655fac;
    --branding-pink: #F9B5C3;
    --branding-light-pink: #F6DADF;
    --background-pink: #FEFBFC;

    --paragraph-font: "Roboto", serif;
    --heading-font: "Poppins", serif;

    --heading-semiBold: 600;
    --paragraph-regular: 400;
    --paragraph-medium: 500;
    --paragraph-light: 300;
    --paragraph-italic: italic;

    --footer-title-28: 1.8rem; 
    --font-size-40: 2.5rem;
    --font-size-24: 1.5rem;
    --font-size-18: 1.13rem;
    --font-size-20: 1.25rem;
    --font-size-30: 1.88rem;

    --button-top-space: 4rem;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.btn {
    text-decoration: none;
    color: white;
    width: 10.2rem;
    background: var(--branding-purple);
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(102, 91, 139, 0.3);
    transition: background 0.3s ease;
    text-align: center;
}

.btn:hover {
    background: var(--branding-light-pink);
    color: black;
}

.message {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}