/* Global Colors */

:root {
    --branding-purple: #575195;
    --branding-purple-hover: #7470b8;
    --branding-pink: #F9B5C3;
    --branding-light-pink: #F6DADF;
    --background-pink: #FEFBFC;

    --paragraph-font: "Roboto", serif;
    --heading-font: "Poppins", serif;

    --heading-semiBold: 600;
    --paragraph-regular: 400;
    --paragraph-medium: 500;
    --paragraph-light: 300;
    --paragraph-italic: italic;

    --footer-title-size: 1.8rem; 
    /* 28px */
    --font-size-40: 2.5rem;
    --font-size-24: 1.5rem;
    --font-size-18: 1.13rem;
    --font-size-20: 1.25rem;
    --font-size-30: 1.88rem;

    --button-top-space: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-pink);
    font-family: var(--paragraph-font);
    scroll-behavior: smooth;
}

/* Header & Navbar */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: white;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    animation: slideDown 1.2s ease-out forwards;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

.navbar a {
    background: transparent;
}

.navbar.scrolled {
    background: #ffffff;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
}

.logo {
    width: 35%;
    height: auto;
    background: transparent;
}

.small_mockup {
    display: none;
}

.home {
    padding-top: 2px;
    background: transparent;
}

.nav-links {
    background: transparent;
    display: flex;
    list-style: none;
}

.nav-links li {
    background: transparent;
    margin-left: 2rem;
}

.nav-links li a {
    background: transparent;
    text-decoration: none;
    font-size: 1rem;
    color: var(--branding-purple);
    font-weight: var(--heading-semiBold);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.nav-links li a:hover {
    color: var(--branding-purple);
    background-color: var(--branding-light-pink);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 10%;
    position: relative;
    overflow: hidden;
    animation: fadeIn 2s ease;
    gap: 2rem;
}

.project_banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7rem;
    margin-top: 4.5rem;
    text-align: left;
    align-items: flex-start;
    background: transparent;
    z-index: 2;
    opacity: 0;
    animation: fadeInUp 2.5s ease forwards;
}

.project_banner p {
    background: transparent;
    font-size: var(--font-size-18);
    padding-bottom: 4rem;
}

/* .blissy_logo {
    background: transparent;
    width: 100%;
    height: auto;
    align-items: flex-start;
    font-weight: var(--paragraph-light);
    padding-top: 2.5rem;
} */

.can_name {
    background: transparent;
    color: var(--branding-purple);
    font-size: 4rem;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    font-weight: var(--heading-semiBold);
}

/* Tags */

.tags {
    background: transparent;
    display: flex;
    gap: 2rem;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
}

.tag {
    text-decoration: none;
    text-align: center;
    color: black;
    width: 11rem;
    background: var(--branding-pink);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(102, 91, 139, 0.3);
    transition: background 0.3s ease;
}

.tag:hover {
    background: var(--branding-light-pink);
    color: black;
}


/* Banner Side Elements */

.project_mockup {
    width: 50%;
    height: auto;
    position: relative;;
    background: transparent;
    z-index: 1;
    opacity: 0;
    animation: fadeInUp 2.5s ease forwards;
    top: 5rem;
}

/* Curve Grow */

.curve-section {
    position: relative;
}

.curve {
    position: absolute;
    top: -6rem;
    left: 0;
    width: 100%;
    height: 170px;
    background: var(--background-pink);
    z-index: 1;
    opacity: 0;
    clip-path: ellipse(50% 100% at 50% 100%); /* flat line */
    transform: translateY(100%);  /* off-screen */
    transition: transform 0.5s ease, opacity 0.2s ease;
}

/* Project Details */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    background: transparent;
    gap: 10rem;
    margin: 8rem 240px 2rem 240px; 
}

.slogan {
    font-style: var(--paragraph-italic);
    font-weight: var(--paragraph-light);
    font-size: var(--font-size-30);
    margin-bottom: 1rem;
    width: 24rem;
}

.project_intro p {
    font-size: var(--font-size-16);
    margin-bottom: 0.5rem;
}

.project_intro strong {
    color: var(--branding-purple)
}

.design_reason h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    color: var(--branding-purple);
    font-size: var(--font-size-20);
    margin-bottom: 0.1rem;
}

.design_reason p {
    font-size: var(--font-size-16);
    margin-bottom: 1.5rem;
}

/* Design Concept */

.design_rationale {
    display: flex;
    padding: 0;
    background-color: var(--branding-light-pink);
    margin-top: 6rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.design_rationale h3 {
    font-size: var(--font-size-40);
    font-weight: var(--heading-semiBold);
    color: var(--branding-purple);
    background: transparent;
    margin: 4rem 0;
}

.design_rationale p {
    background: transparent;
    font-size: var(--font-size-20);
    margin-top: 1rem;
    padding: 0 3rem;
}

.mascot {
    display: block;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 25%;
}

.description {
    background: transparent;
    width: 40%;
}

/* Why Civica */

.problem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 240px;
    gap: 4rem;
}

.problem_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 2rem;
}

.section_headings {
    display: flex;
    flex-direction: column;
}

.research {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

#line {
    line-height: 1.1;
    text-align: center;
}

.research h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    font-size: var(--font-size-24);
    color: var(--branding-purple);
    margin-bottom: 2rem;
    width: 50px;
}

.research p {
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: var(--font-size-18);
}

.solution {
    text-align: center;
    font-size: var(--font-size-30);
    font-family: var(--heading-font);
    font-weight: var(--paragraph-regular);
    margin: 6rem auto 7rem auto;
    width: 50%;
}

.app_highlight {
    color: var(--branding-purple);
    font-weight: var(--heading-semiBold);
}

.highlight {
    color: white;
    font-weight: var(--heading-semiBold);
    font-size: var(--font-size-18);
    background-color: var(--branding-purple);
    border-radius: 10px;
    padding: 2px 10px;
}

.userflow {
    display: flex;
    flex-direction: row;
    margin: 1rem 240px;
    gap: 2rem;
}

.interview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: left;
    gap: 1rem;
}

/* Demo Video */

.card-container {
    border-radius: 50px 5px;
    overflow: hidden;
    margin: 3rem 240px 6rem 240px;
}

.tab-menu {
    display: flex;
    background-color: var(--branding-purple);
    padding: 0;
    justify-content: space-around;
    border-bottom: 2px solid var(--branding-purple);
    height: 70px;
}

.tab-button {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: var(--font-size-16);
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.3s;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-button.visible {
    background-color: var(--branding-purple-hover);
    color: white;
}

.tab-button:hover {
    background-color: #312c64;
}

.card-content {
    display: flex;
    padding: 80px 60px;
    margin-top: 10px;
    border: 2px solid var(--branding-purple);
    border-radius: 5px 5px 50px 5px;
}

.tab-content {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.tab-content.visible {
    display: flex;
}

.video-section img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.text-section {
    padding-left: 20px;
}

.text-section h3 {
    color: black;
    font-size: var(--font-size-30);
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    line-height: 1.5;
}

.text-section h4 {
    color: var(--branding-purple);
    padding-bottom: 1rem;
    font-size: var(--font-size-20);
    font-family: var(--heading-font);
    font-weight: var(--paragraph-medium);
}

.text-section p {
    color: black;
    font-size: var(--font-size-16);
}

.text-section ul {
    padding-top: 1.5rem;
} 

.text-section li {
    list-style-type: none;
    padding-left: 0px;
}

.text-section li::before {
    content: '➡️';
    margin-right: 10px;
}

/* carousel */

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.388);
    margin: 3rem 240px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: var(--branding-purple-hover);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: var(--branding-purple);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background: transparent;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
    background: transparent;
}

.carousel-bullet {
    color: var(--branding-purple);
    cursor: pointer;
    display: block;
    font-size: 35px;
    background: transparent;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: var(--branding-pink);
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    background: transparent;
}


/* Project Showcase */

.project_showcase img {
    width: 66%;
    margin: 1rem 240px;
}

.project_showcase {
    text-align: center;
    align-items: center;
}

.persona_section p {
    font-size: var(--font-size-20);
    text-align: left;
    margin: 0.5rem 240px 0 240px;
}

.persona_section h4 {
    font-size: var(--font-size-40);
    font-weight: var(--heading-semiBold);
    font-family: var(--heading-font);
    color: var(--branding-purple);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 4rem 240px 1rem 240px;
}

.project_showcase h4 {
    font-size: var(--font-size-30);
    font-weight: var(--heading-semiBold);
    font-family: var(--heading-font);
    color: var(--branding-purple);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 4rem 240px 1rem 240px;
}

.design {
    display: flex;
    flex-direction: row;
    margin: 1rem 240px;
    gap: 10rem;
}

.app_theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.app_theme h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    font-size: var(--font-size-20);
}

/* .app_theme p {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-regular);
    font-size: var(--font-size-16);
    text-align: left;
    margin-top: 1rem;
} */

.colors {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.colors div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
}

.blue,
.yeloow,
.lavender,
.violet,
.purple,
.light_purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    padding: 2rem;
    margin-right: 1.5rem;
    border-radius: 12px;
}

.blue {
    background-color: #313889;
}

.yellow {
    background-color: #66B2DA;
}

.lavender {
    background-color: #0E121E;
    color: white;
}

.violet {
    background-color: #282834;
    color: white;
}

.purple {
    background-color: #909FF2;
}

.light_purple {
    background-color: #EAF0F6;
}

.typography {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.typography h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    font-size: var(--font-size-18);
}

.example_body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: var(--font-size-16);
    gap: 1rem;
}

.example_body p {
    font-family: "Roboto Slab", serif !important;
}

.heading {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: var(--font-size-18);
    margin-top: 3rem;
}

.example_heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 30px;
    gap: 1rem;
}

.example_heading p {
    font-family: "Roboto Slab", serif !important;
}

.title {
    padding-top: 0.5rem;
    line-height: 0.6;
}

.small {
    font-family: "Roboto Slab", serif !important;
    font-size: 16px;
}

.typography p {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-regular);
    font-size: var(--font-size-16);
    text-align: left;
    margin-top: 1rem;
}

.typography strong {
    font-weight: var(--heading-semiBold);
    font-size: var(--font-size-20);
    color: var(--branding-purple);
}

/* Wireframes */

.wireframes_section h4 {
    font-size: var(--font-size-24);
    font-weight: var(--heading-semiBold);
    font-family: var(--heading-font);
    color: var(--branding-purple);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 4rem 240px 1rem 240px;
}

.wireframes_section img {
    width: 100%;
    margin: 1rem 0px;
}

.app_logo {
    display: flex;
    flex-direction: row;
    margin: 1rem 240px;
    gap: 2rem;
}

.app_logo img {
    width: 50%;
    border-radius: 8%;
}

/* Gif */

.quiz_section {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #B8C0FF;
    margin-top: 6rem;
    margin-bottom: 8rem;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.quiz_section h6 {
    font-size: var(--font-size-40);
    font-weight: var(--heading-semiBold);
    color: black;
    background: transparent;
    margin-bottom: 1.5rem;
    padding-top: 6rem;
}

.quiz_prototype {
    display: block;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50%;
}

.quiz_description p {
    background: transparent;
    font-size: var(--font-size-20);
    margin-top: 1rem;
}

.quiz_description {
    background: transparent;
    width: 25%;
}

.mockup_section {
    margin-bottom: 4.5rem;
}

.mockup_section h4 {
    font-size: var(--font-size-24);
    font-weight: var(--heading-semiBold);
    font-family: var(--heading-font);
    color: var(--branding-purple);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 4rem 240px 1rem 240px;
}

.mockup_section img {
    width: 65%;
    margin: 1rem 240px;
}

.mockup_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wardrobe {
    width: 68% !important; 
}

/* Back to Top Star */

.floating-star {
    position: fixed;
    bottom: 1rem;
    right: 20px;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
    transform-origin: center;
    transition: transform 0.3s ease;
    background-color: transparent !important;
}
 
.floating-star img {
    background-color: transparent !important;
    transition: transform 0.3s ease;
}

.floating-star:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}
  
.rotating {
    animation: rotate 1s linear infinite;
}

.floating-star:hover,
.floating-star:active {
    background-color: transparent !important;
}

/* Footer */

footer * {
    background: transparent !important;
  }

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 240px;
    margin-right: 0;
    background-image: url('../images/footer2.png');
    object-fit: cover;
    border-radius: 50px 0 0 0;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    overflow: hidden;
}
  
.footer-content {
    max-width: 60%;
}
  
.footer-content h2 {
    margin: 0;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
    font-size: var(--footer-title-size);
    color: var(--branding-purple)
}
  
.footer-content p {
    font-size: 1rem;
    margin: 10px 0 20px;
    width: 36rem;
}

.footer-icons a {
    text-decoration: none;
}

.footer-icons img:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.footer-icons img {
    width: 6%;
    height: auto;
    margin-right: 1.2rem;
    margin-top: 1rem;
    transform: translateY(0);
    transition: transform 0.5s ease;
}
  
.footer-nav ul {
    list-style: none;
}

.glow-button {
    text-decoration: none;
    position: relative;
    width: 350px;
    right: -35px;
    text-align: left;
    font-weight: var(--heading-semiBold);
    border: none;
    color: var(--branding-purple);
    background-color: white !important;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.5);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    margin-bottom: 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 
        background-color 0.3s ease-in-out, 
        right 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.glow-button:hover {
    position: relative;
    width: 350px;
    right: -15px;
    font-weight: var(--heading-semiBold);
    border: none;
    color: var(--branding-purple);
    background-color: var(--branding-light-pink) !important;
    padding: 15px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu {
    display: none;
}

/* Banner Animations */

@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        clip-path: inset(0 0 100% 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Responsive */

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Small Devices */
@media (max-width: 768px) {
    .navbar {
        display: none !important;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        background: transparent;
        position: relative;
        z-index: 101;
    }

    .dropdown-menu {
        background: transparent;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0 1rem;
        top: 0;
        height: 80px;
        width: 100%;
        text-align: center;
        z-index: 100;
        opacity: 0;
        animation: slideDown 1.2s ease-out forwards;
        transition: all 0.3s ease;
        transition: background-color 0.3s ease;
        background: transparent;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 1rem;
        opacity: 0;
        transform: translateY(-10px);
        clip-path: circle(0% at 100% 0%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .menu-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        padding-top: 6rem;
        width: 100%;
        align-items: center;
        text-align: center;
        clip-path: circle(150% at 100% 0%);
        animation: openCircle 0.5s forwards;
    }

    .intro {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        background: transparent;
        gap: 2rem;
        margin: 6rem 2rem 1rem 2rem; 
    }

    .banner {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        justify-content: center;
        align-items: center;
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .tag {
        width: 9rem;
        font-size: 1rem;
        padding: 0.8rem 0.7rem;
    }

    .slogan {
        width: 100%;
        font-size: var(--font-size-20);
    }

    .project_intro p {
        font-size: var(--font-size-16);
    }

    .separator {
        width: 100%;
    }

    .design_rationale p {
        font-size: var(--font-size-16);
        padding: 0 1rem;
    }
    .project_showcase h4,.highlight {
        font-size: var(--font-size-18);
    }

    .mockup {
        width: 80%;
        height: auto;
        padding-bottom: 0;
    }

    .demo {
        padding: 0 2rem; 
    }

    /* Animation */

    @keyframes openCircle {
        from {
            clip-path: circle(0% at 100% 0%);
        }
        to {
            clip-path: circle(150% at 100% 0%);
        }
    }
    
    .menu-links ul {
        background-color: white;
        align-items: center;
    }

    .menu-links li {
        font-size: var(--font-size-24);
        list-style: none;
        background-color: white;
        position: relative;
        margin: auto 0;
    }

    .menu-links li a:hover {
        color: white;
        background-color: var(--branding-purple);
        display: block;
    }

    .menu-links li a {
        text-decoration: none;
        color: var(--branding-purple);
        font-weight: var(--heading-semiBold);
        display: block;
        padding: 1rem 2rem;
        width: 100vw;
        box-sizing: border-box;
        align-items: center;
    }

    .menu a {
        background: transparent;
    }

    .menu-logo {
        width: 55%;
        height: auto;
        background: transparent;
    }

    .menu img {
        background: transparent;
    }

    /* main section */

    .project_showcase img {
        width: 65%;
        margin: 0.5rem 2rem;
    }

    .project_showcase h4 {
        font-size: var(--font-size-20);
        margin: 1rem 2rem;
    }

    .design_rationale, .quiz_section {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 1rem;
        padding: 2rem 0;
    }

    .app_logo {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        gap: 0em;
    }

    .app_logo img {
        width: 100%;
    }

    .design_rationale h3 {
        font-size: var(--font-size-30);
        font-weight: var(--heading-semiBold);
        color: var(--branding-purple);
        background: transparent;
        margin-bottom: 1rem;
        padding: 0 2rem;
    }

    .quiz_section h6 {
        font-size: var(--font-size-30);
        font-weight: var(--heading-semiBold);
        color: black;
        background: transparent;
        margin-bottom: 1rem;
        padding: 0 2rem;
    }
    
    .design_rationale p,.quiz_section p {
        background: transparent;
        font-size: var(--font-size-16);
        margin-top: 1rem;
        padding: 0 2rem;
    }

    .description,.quiz_description {
        width: 100%;
    }

    .mascot {
        width: 60%;
    }

    .quiz_prototype {
        width: 60%;
    }

    .design {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        gap: 1rem;
    }

    .app_theme,
    .typography {
        width: 100%;
    }

    .app_theme h5,.typography h5 {
        font-size: var(--font-size-16);
    }

    .colors {
        display: flex;
        flex-direction: row;
        margin: 2rem auto;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .colors div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .body, .heading {
        margin-top: 1.5rem;
    }

    .blue,
    .yeloow,
    .lavender,
    .violet,
    .purple,
    .light_purple {
        width: 100%;
        height: 100%;
        padding: 2.5rem 1rem;
        border-radius: 12px;
        font-size: var(--font-size-16);
    }

    .mockup_section {
        padding: 0 2rem;
    }

    .mockup_section h4,
    .wireframes_section h4 {
        margin: 1rem 2rem;
        font-size: var(--font-size-18);
    }

    .mockup_section {
        margin-bottom: 2rem;
    }

    #wardrobe {
        width: 100% !important;
    }
    
    .mockup_section img {
        width: 100%;
        margin: 1em 0;
    }

    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-content {
        max-width: 50%;
    }

    .footer-content h2 {
        font-size: var(--font-size-24);
    }

    .footer-content p {
        width: 21rem;
    }

    .glow-button {
        right: -100px;
    }

    .glow-button:hover {
        right: -80px;
    }
}

@media (min-width: 768px) {
    .meu-logo {
        display: none;
    }
}

/* Phone (bigger than 320px, smaller than 374px) */

@media (min-width: 320px) and (max-width: 425px) {
    .banner {
        display: flex;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        height: 100vh;
    }

    .intro {
        gap: 2rem;
        margin: 6rem 2rem 1rem 2rem;
    }

    .project_mockup {
        display: none;
    }

    .small_mockup {
        display: block;
        width: 100%;
        background: transparent;
    }

    .can_name {
        font-size: 1.438rem;
        padding-bottom: 0rem;
    }

    .project_banner p {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .project_banner {
        display: flex;
        margin-left: 0;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .curve {
        top: -5rem;
    }

    .design_concept {
        padding: 0;
        margin: 2rem 0;
    }

    .hamburger img {
        width: 35%;
        height: auto;
        margin-left: 11rem;
    }


    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-content h2 {
        font-size: 1rem;
        width: 400px;
    }

    .footer-content p {
        width: 15rem;
    }

    .footer-nav {
        display: none !important;
    }

    .floating-star {
        display: none;
    }
    
    .footer-icons {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        width: 100%;
    }
        
    .footer-icons img {
        width: 40px;
        height: auto;
    }

    .footer-icons a {
        display: flex;
        width: 40px;
        height: auto;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .banner {
        display: flex;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }

    .project_mockup {
        display: none;
    }

    .small_mockup {
        display: block;
        width: 80%;
        background: transparent;
    }

    .can_name {
        font-size: 1.438rem;
        padding-bottom: 0rem;
    }

    .project_banner p {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .project_banner {
        display: flex;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .tags {
        flex-direction: row;
    }

    .curve {
        top: 3rem;
    }

    .hamburger img {
        width: 35%;
        height: auto;
        margin-left: 12.5rem;
    }

    .footer-icons {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        width: 100%;
    }
        
    .footer-icons img {
        width: 50px;
        height: auto;
    }

    .footer-icons a {
        display: flex;
        width: 50px;
        height: auto;
    }
}

@media (min-width: 600px) and (max-width: 768px) {

    .footer-content h2 {
        font-size: var(--font-size-18);
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .footer-nav {
        display: none !important;
    }

    .footer-content h2 {
        width: 400px;
    }
}

@media (min-width: 375px) and (max-width: 600px) {
    .footer-content h2 {
        font-size: var(--font-size-18) !important;
    }
}

/* Middle Devices */

@media (min-width: 769px) and (max-width: 1024px) {
    .banner {
        display: flex;
        padding-left: 12%;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 0;
    }

    .project_banner {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .can_name {
        font-size: 3rem;
    }

    .project_banner p {
        font-size: var(--font-size-20);
    }

    .project_mockup {
        display: block;
        width: 50%;
    }

    .curve {
        top: 2rem;
    }

    .small_mockup {
        display: none;
    }

    .intro {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin: 6rem 50px 1rem 50px;
    }

    .slogan {
        width: 100%;
    }

    /* Main Section */

    .design_rationale {
        padding: 2rem 0;
        gap: 2rem;
    }

    .mascot {
        width: 40%;
    }

    .description {
        width: 100%;
    }

    .description p {
        width: 100%;
    }

    .design {
        gap: 5rem;
    }

    .project_showcase h4,
    .wireframes_section h4,
    .app_logo,
    .mockup_section h4,
    .mockup_section img {
        margin: 1rem 50px;
    }
    
    .project_showcase,
    .design {
        margin: 1rem 50px;
    }

    .quiz_description {
        width: 50%;
    }

    .quiz_prototype {
        width: 30%;
    }

    .project_showcase img,
    .mockup_section img {
        margin: 0;
        width: 100%;
    }

    #wardrobe {
        width: 100% !important;
    }

    .blue,
    .yeloow,
    .lavender,
    .violet,
    .purple,
    .light_purple {
        width: 100%;
        height: 100%;
        padding: 2.5rem 1rem;
        border-radius: 12px;
        font-size: var(--font-size-16);
    }

    .colors div {
        flex-direction: row;
        padding-top: 2rem;
    }

    .colors {
        flex-direction: column;
    }

    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .footer-content {
        max-width: 60%;
    }

    .footer-content h2 {
        font-size: var(--font-size-24);
    }

    .footer-content p {
        width: 21rem;
    }

    .footer-icons img {
        width: 10%;
    }

    .glow-button {
        right: -130px;
    }

    .glow-button:hover {
        right: -110px;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .banner {
        display: flex;
        padding-left: 0%;
    }

    .curve {
        top: -5rem;
    }

    .intro {
        gap: 5rem;
        margin: 6rem 100px 1rem 100px; 
    }

    .design_concept {
        padding: 0;
        margin: 0;
    }

    .project_showcase h4,
    .wireframes_section h4,
    .app_logo,
    .mockup_section h4,
    .mockup_section img {
        margin: 1rem 100px;
    }
    
    .project_showcase,
    .design {
        margin: 1rem 100px;
    }

    .project_showcase img,
    .mockup_section img {
        margin: 0;
        width: 100%;
    }

    #wardrobe {
        width: 100% !important;
    }

    .colors div {
        padding-top: 2rem;
    }

    .blue,
    .yeloow,
    .lavender,
    .violet,
    .purple,
    .light_purple {
        width: 100%;
        height: 100%;
        padding: 2.5rem 1rem;
        border-radius: 12px;
        font-size: var(--font-size-16);
    }

    .footer {
        padding-left: 150px;
        padding-right: 150px;
    }

    .footer-content h2 {
        font-size: var(--footer-title-28);
    }

    .footer-content p {
        max-width: 100%;
        font-size: var(--font-size-20);
    }

    .footer-icons img {
        width: 8%;
    }

    .glow-button {
        right: -130px;
    }

    .glow-button:hover {
        right: -110px;
    }

    .demo {
        padding: 0 100px; 
    }
}

@media (min-width: 1084px) and (max-width: 1441px) {
    .glow-button {
        right: -160px;
    }

    .glow-button:hover {
        right: -140px;
    }
}

@media (min-width: 1441px) and (max-width: 1919px) {
    .curve {
        top: -3rem;
    }

    #wardrobe {
        width: 66% !important;
    }
}

@media (min-width: 1920px) and (max-width: 1960px) {
    .project_banner p {
        width: 85%;
    }
}

@media (min-width: 1961px) and (max-width: 2164px) {
    .project_banner p {
        width: 75%;
    }
}

@media (min-width: 2165px) and (max-width: 2560px) {
    .project_banner p {
        width: 50%;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    
    .demo {
        margin: 0 240px; 
    }

    .footer-icons img {
        width: 5%;
    }

    .footer {
        background-size: 110%
    }
}