/* Global Colors */

:root {
    --branding-purple: #575195;
    --branding-pink: #F9B5C3;
    --branding-light-pink: #F6DADF;
    --background-pink: #FEFBFC;

    --gradient-font: linear-gradient(90deg, #575195, #F9B5C3);

    --paragraph-font: "Roboto", serif;
    --heading-font: "Poppins", serif;

    --heading-semiBold: 600;
    --paragraph-regular: 400;
    --paragraph-medium: 500;
    --paragraph-light: 300;
    --paragraph-italic: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-pink);
    font-family: var(--paragraph-font);
}

/* Header & Navbar */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    animation: slideDown 1.2s ease-out forwards;
    transition: all 0.3s ease;
    }

.navbar.scrolled {
    background: #ffffff;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.3);
}

.logo {
    width: 4%;
    height: auto;
}

.nav-links {
    background: transparent;
    display: flex;
    list-style: none;
}

.nav-links li {
    background: transparent;
    margin-left: 2rem;
}

.nav-links li a {
    background: transparent;
    text-decoration: none;
    font-size: 1rem;
    color: var(--branding-purple);
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li a:hover {
    color: var(--branding-purple);
    background-color: var(--branding-light-pink);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: row;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20%;
    position: relative;
    overflow: hidden;
    animation: fadeIn 2s ease;
}

.content {
    background: transparent;
    text-align: center;
    z-index: 2;
    opacity: 0;
    animation: fadeInUp 2.5s ease forwards;
}

.welcome {
    background: transparent;
    font-size: 2.5rem;
    font-weight: var(--paragraph-light);
    padding-top: 2.5rem;
}

.name {
    background: transparent;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--branding-purple);
}

.highlight {
    color:black;
    background: transparent;
}

.position {
    background: transparent;
    font-size: 2rem;
    margin: 1rem 0;
    padding-bottom: 3rem;
}

.name,.welcome,.position {
    text-align: left;
}

.buttons {
    background: transparent;
    display: flex;
    gap: 3rem;
    font-family: var(--heading-font);
    font-weight: var(--heading-semiBold);
}

.btn {
    text-decoration: none;
    color: white;
    width: 10.5rem;
    background: var(--branding-purple);
    padding: 0.9rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(102, 91, 139, 0.3);
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--branding-light-pink);
    color: black;
}

/* Banner Side Elements */

.ribbon {
    width: 100%;
    height: auto;
    position: absolute;
    background: transparent;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 4s ease 1s forwards;
}

.star_big {
    width: 25%;
    height: auto;
    position: absolute;
    background: transparent;
    z-index: 1;
    top: 80px;
    left: 64%;
    animation: rotate 10s linear infinite, fadeIn 2s ease-out forwards;;
}

.star_small {
    width: 15%;
    height: auto;
    position: absolute;
    background: transparent;
    z-index: 1;
    top: 400px;
    left: 64%;
    animation: rotate 10s linear infinite, fadeIn 2s ease-out forwards;;
}

.elements {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 1%;
    animation: fadeIn 2s ease forwards;
    background: transparent;
    z-index: 1;
}

.star:nth-child(2) {
    width: 70px;
    height: 70px;
    animation: rotate 6s linear infinite;
}

.curve-section {
    position: relative;
}

.curve {
    position: relative;
    top: -100px;
    left: 0;
    width: 100%;
    height: 170px;
    background: var(--background-pink);
    z-index: 1;
    opacity: 0;
    clip-path: ellipse(50% 100% at 50% 100%); /* flat line */
    transform: translateY(100%);  /* off-screen */
    transition: transform 0.5s ease, opacity 0.2s ease;
}

.projects {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    background: transparent;
}

/* Back to Top Star */

.floating-star {
    position: fixed;
    bottom: 20px; /* Distance from the bottom edge */
    right: 20px; /* Distance from the right edge */
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.3);
    z-index: 1000;
    transform-origin: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
  /* Optional hover effect */
.floating-star:hover {
    background-color: orange;
}
  
.rotating {
    animation: rotate 1s linear infinite;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: auto;
    align-items: center;
    padding: 40px;
    background-image: url('../images/footer.png');
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.3);
}
  
.footer-content {
    max-width: 60%;
    background: transparent;
}
  
.footer-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    background: transparent;
}
  
.footer-content p {
    font-size: 0.9rem;
    color: #555;
    margin: 10px 0 20px;
    background: transparent;
}
  
.footer-icons {
    display: flex;
    gap: 15px;
    background: transparent;
}
  
.footer-icons a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s;
    background: transparent;
}
  
.footer-icons a img:hover {
    transform: scale(1.1);
    background: transparent;
}
  
.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
}
  
.footer-nav ul li {
    margin-bottom: 10px;
    background: transparent;
}
  
.footer-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(246, 218, 223, 0.3);
}
  
  .footer-nav ul li a:hover {
    background-color: #eaeaea;
}
  

/* Banner Animations */

@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        clip-path: inset(0 0 100% 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

